/* DEFAULTS */
:root{
	--main: #E4E9F3;
	--secondary: #F53141;
}

* { 
	box-sizing: border-box;
	font-family: arial;
	letter-spacing: 1.7px;
	margin: 0; 
	padding: 0; 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body {
	width: 100%;
	height: 100%; 
	background-color: var(--main);
    /*background: #e0eafc;
    background: -webkit-linear-gradient(top,#e0eafc,#bad1fc);
    background: -moz-linear-gradient(top,#e0eafc,#bad1fc);
    background: linear-gradient(top,#e0eafc,#bad1fc);        */    
    background: #bdc2e8;
    background: -webkit-linear-gradient(top left,#bdc2e8,#8892e8);
    background: -moz-linear-gradient(top left,#bdc2e8,#8892e8);
    background: linear-gradient(top left,#bdc2e8,#8892e8);
            
}

body {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: 1fr 8fr
}

.preview-panel {
	background-color: #FFF;
	flex-direction: column;
	box-sizing: border-box;
	grid-row-start: 1; 
	grid-row-end: 3; 
	width: 100%;
	height: 100%;
	padding: 16px;
	display: flex;
}

.preview-panel .container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

button {
	background-color: var(--secondary);
	color: #FFF;
	border: none;
	transition: all 0.1s;
}

button:hover { background-color: #D92B39; }
button:active { transform: scale(0.92); }

#new-slide {
	width: 1.75vw;
	height: 1.75vw; 
	margin-bottom: 16px;
	font-size: 1.5vw;
}

.preview {
	border: 2px solid #D4D4D4;
	position: relative;
	width: 9.5vw;
	height: 5.34vw;
	margin-bottom: 16px;
	padding: 0.7vw;
	transition: all 0.07s;
}

.preview:hover {
	transform: scale(0.97);
}

.preview > * {
	margin-bottom: 0.5vw;
	overflow: hidden;
	font-size: 0.7vw;
	width: 100%;
	color: #555;
}

.preview p {
	white-space: pre;
	font-size: 0.6vw;
	/*max-height: 2.8vw;*/
	height: 3.2vw;
}

.preview .pgnum {
	position: absolute;
	font-size: 0.85vw;
	text-align: right;
	background: #fff;
	width: 1vw;
	right: 0.3vw;
	color: #666;
}

.tools {
	display: flex;
	align-items: center;
	padding-left: 9.5vw;
}

#fullscr {
	width: 50px;
	height: 50px;
	padding-top: 2px; 
}

.tip {
	display: inline-block;
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.4);
	letter-spacing: 1px;
	padding: 0.5vw;
	margin-left: 1.7vw;
	border-radius: 5px;
}

.tip kbd {
	font-weight: bold;
}

.editor {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.slide {
	display: none;
	justify-content: center;
	align-items: center;
	width: 70vw;
	height: 39.38vw;
	background-color: #FFF;
}

.slide .content {
	width: 59.5vw;
	height: 33.47vw;
}

.slide .content > * {
	margin: 1.8% 0;
	color: #555;
}

hr {
	height: 3px;
	border: none;
	background-color: #C9CBD1;
}

.content .header, .content .body {
	transform-origin: 0 0;
	width: 100%;
	height: 5vw;
	padding-left: 20px;
	font-size: 3vw;
	border: none;
}

.content .body {
	font-size: 1.4vw;
	line-height: 2;
	height: 21vw;
	max-height: 21vw;
	max-width: 100%;
}

.slide footer {
	margin: 0;
	position: absolute;
	font-size: 1vw;
	bottom: 1.5vw;
	right: 3.5vw;
}

.preview.active { border: 4px solid #F88193; box-shadow: 0 4px 15px #D9D9D9; }
.slide.active   { display: flex; position: relative;}