/* DEFAULTS */
:root{
	--main: #e6e6e6;
	--secondary: #fff;
}

* { margin: 0; padding: 0; box-sizing: border-box;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body {
	width: 100%;
	height: 100%; 
	background-color: var(--main);
}

body {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 10fr
}

.preview-panel {
	grid-row-start: 1; 
	grid-row-end: 3; 
	background-color: var(--secondary);
	box-sizing: border-box;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 16px;
	display: flex;
}

.preview-panel .container {
	height: 100%;
	width: 100%;
	overflow: auto;
}

button {
	background-color: #F35454;
	color: #FFF;
	border: none;
	transition: all 0.1s;
}

button:active { 
	background-color: #BF4242;
	transform: scale(0.92);
}

#new-slide {
	width: 1.75vw;
	height: 1.75vw; 
	margin-bottom: 16px;
	font-size: 1.5vw;
}


/*to keep 16:9 aspect ratio*/
.preview::before,
.slide::before,
.content::before {
	content: "";
	float: left;
	padding-bottom: 56.25%;
}

.preview::after,
.slide::after,
.content::after {  /*to clear float*/ 
	content: " ";
	clear: left;
	display: table;
}
/*END OF ASPECT RATIO PART*/

.preview {
	margin-bottom: 16px;
	background-color: #E6E6E6;
}

.tools {
	padding: 1.2vw;
	padding-left: 7.9vw;
}

#fullscr {
	width: 50px;
	height: 50px;
	padding-top: 2px; 
}

.editor {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.slide {
	display: none;
	justify-content: center;
	align-items: center;
	width: 70vw;
	background-color: #FFF;
	transition: all 1s;
}

.slide .content {
	width: 85%;
}

.content > * {
	margin: 1.8% 0;
}

hr {
	height: 3px;
	border: none;
	background-color: #BBB;
}

.content .header, .body {
	transform-origin: 0 0;
	width: 100%;
	height: 5vw;
	padding-left: 20px;
	font-size: 3vw;
	border: none;
}

.content .body {
	font-size: 1.4vw;
	line-height: 2;
	height: 21vw;
	max-height: 21vw;
	max-width: 100%;
}

.preview.active { box-shadow: 0 0 0 4px #F88193 inset; }
.slide.active   { display: flex; }